
{{#partial "content"}}

    <div class="title">
        <h1 class="text display-4" >Welcome to Wildlife Tracker</h1>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/view/rangers">Action</a>
            <a class="dropdown-item" href="/view/animals">Another action</a>
            <a class="dropdown-item" href="/view/locations">Something else here</a>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}